ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: stretch;
    margin: 1em 0;

    li {
        flex: 1; 
        margin: 5px;
        padding: 1em;
        background: #e9ecef;
        text-align: center;
        font-size: 1.5em;
    }   
}

.text-gold { color: goldenrod }