<div class="row">
    <div class="col-6">
        <h5>Selecionados</h5>
        <h6><strong>{{ equipesSelecionadas.length }}</strong> de <strong>8</strong> equipes</h6>
    </div>
    <div class="col-6 text-right">
        <button 
            (click)="gerarCopa()" 
            [class.destaque]="operacaoValida()">
            Gerar Copa
        </button>
    </div>
</div>

<ul class="equipes">      
    
    <li *ngFor="let equipe of equipes | async"
        (click)="selcionarEquipe(equipe.id)"
        [class.destaque]="equipeJahFoiSelecionada(equipe.id)">                
        <p>{{equipe.nome}}</p>
        <p>{{equipe.sigla}}</p>
    </li>
        
</ul>